.container {
    width: 60%;
    margin: 10vh auto;
    border-radius: 15px;
    text-align: center;
    background-color: #2c7a7b;
}

.container h3 {
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: #114d4e;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.authForm {
    background-color: #2c7a7b;
    padding: 20px 50px 50px 50px;
    border-radius: 15px;
}

.authForm input {
    margin-top: 10px;
}

.AuthFormLink {
    width: 60%;
    margin: 30px auto;
    border-left: 3px solid  #2c7a7b;
    padding-left: 5px;
    color: blue;
}